Debug
Release
build
example1
*.a

/SQLiteCpp.sln
*.ncb
*.suo
*.user
*sdf
*.vc*
*~
doc
core
*ipch
.settings/

cedict.db3
cedict_ts.u8

CMakeCache.txt
CMakeFiles
*.cmake
*.dir
Testing
Win32

SQLiteCpp_example1
SQLiteCpp_tests

!FindSQLiteCpp.cmake
/SQLiteCpp_Example
